<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<body>
	<div th:fragment="achievements-section">
		<!-- Achievements Section -->
		<div id="achievements" class="section dark-bg">
			<div class="container">
				<div class="row">
					<div class="col-md-3 col-sm-3">	<div class="achievement-box"> <span class="count">210</span>	<h4>Happy clients</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">	<div class="achievement-box"><span class="count">9,500</span><h4>Working hours</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">	<div class="achievement-box"><span class="count">590</span>	<h4>Projects completed</h4>
						</div>
					</div>
					<div class="col-md-3 col-sm-3">	<div class="achievement-box"><span class="count">14</span>	<h4>Awards won</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>

