<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
	lang="en">
<body>
	<div th:fragment="header-section">
		<!-- Header -->
		<header class="text-center" name="home">
			<div class="intro-text">
				<h1>
					Welcome to <strong>Inside Consulting</strong>
				</h1>
				<p>We are a full-service integrated creative agency</p>
				<a href="#services-section"
					class="btn btn-default btn-lg smoothScroll">LEARN MORE</a>
			</div>
		</header>

	</div>
</body>
</html>